html, body, h1, h2, h3, div, canvas, ul, strong {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  color: white;
  text-align: center;
  font-size: 16px;
}

a {
  color: green;
}

a:hover {
  color: #34C504;
}

.hidden {
  display: none;
}

canvas {
  background: url("rings.jpg");
  background-size: cover;
  display: block;
  margin: 20px auto;
  border: 3px solid orange;
  border-radius: 3px;
}

body {
  background: black;
}

h1 {
  color: #9D2030;
  font-size: 32px;
  text-align: center;
  margin-top: 10px;
}

.new-game {
  position: absolute;
  left: 50%;
  top: 50%;

  margin-left: -70px;
  margin-top: -230px;

  width: 120px;
  
  border: 2px solid orange;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  background: #E0080D;
  color: white;
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.new-game:hover {
  background: #08E00D;
  box-shadow: 0px 0px 0.5px 0.5px #404030;
  opacity: 1.0;
}

.new-game.pacifist {
  margin-top: -120px;
}

.new-game > .subhead {
  font-size: 16px;
}

.keys {
  opacity: 0.75;
  background: #030201;
  color: orange;
  border: 2px solid orange;
  border-radius: 8px;
  width: 320px;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
}

.keys > h2 {
  font-size: 20px;
  padding-bottom: 5px;
}

.keys > table {
  margin: auto;
}

footer {
  margin-bottom: 15px;
}
